<form method="post" id="booking_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="wJhlIXE2CLuIYEHNNfLweVqP00ZbiPzNiNPlOq1RWaEfzEcKqHuB7rP5yBjqM57f">
<div>







  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-customer">
            
            
                <div>
                    
                    
                        <label class="required" for="id_customer">Customer:</label>
                        
                            <div class="related-widget-wrapper">
    <select name="customer" required="" id="id_customer">
  <option value="" selected="">---------</option>

  <option value="7">Chandrashekhar, Sanzgiri</option>

</select>
    
        <a class="related-widget-wrapper-link change-related" id="change_id_customer" data-href-template="/admin/resortapp/customer/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected customer"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_customer" href="/admin/resortapp/customer/add/?_to_field=id&amp;_popup=1" title="Add another customer"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
    
</div>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-package">
            
            
                <div>
                    
                    
                        <label class="required" for="id_package">Package:</label>
                        
                            <div class="related-widget-wrapper">
    <select name="package" required="" id="id_package">
  <option value="" selected="">---------</option>

  <option value="1">Premium Cottages</option>

  <option value="2">1 Night &amp; 2 Days</option>

  <option value="3">2 Night &amp; 3 days</option>

</select>
    
        <a class="related-widget-wrapper-link change-related" id="change_id_package" data-href-template="/admin/resortapp/package_detail/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected package_detail"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_package" href="/admin/resortapp/package_detail/add/?_to_field=id&amp;_popup=1" title="Add another package_detail"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
    
</div>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-number_of_people">
            
            
                <div>
                    
                    
                        <label class="required" for="id_number_of_people">Number of people:</label>
                        
                            <input type="number" name="number_of_people" value="0" class="vIntegerField" required="" id="id_number_of_people">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-booking_date">
            
            
                <div>
                    
                    
                        <label class="required" for="id_booking_date_0">Booking_date:</label>
                        
                            <p class="datetime">
  Date: <input type="text" name="booking_date_0" value="2020-08-29" class="vDateField" size="10" required="" id="id_booking_date_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a></span>

<br>
  Time: <input type="text" name="booking_date_1" value="04:33:25" class="vTimeField" size="8" required="" id="id_booking_date_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink0"><span class="clock-icon" title="Choose a Time"></span></a></span>


<br><span class="timezonewarning">Note: You are 5.5 hours ahead of server time.</span></p><input type="hidden" name="initial-booking_date_0" value="2020-08-29" id="initial-id_booking_date_0"><input type="hidden" name="initial-booking_date_1" value="04:33:25" id="initial-id_booking_date_1">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-booking_amount">
            
            
                <div>
                    
                    
                        <label class="required" for="id_booking_amount">Booking amount:</label>
                        
                            <input type="number" name="booking_amount" value="0.0" step="any" required="" id="id_booking_amount">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-checkin_date">
            
            
                <div>
                    
                    
                        <label class="required" for="id_checkin_date_0">Check_in_time:</label>
                        
                            <p class="datetime">
  Date: <input type="text" name="checkin_date_0" value="2020-08-29" class="vDateField" size="10" required="" id="id_checkin_date_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink1"><span class="date-icon" title="Choose a Date"></span></a></span>

<br>
  Time: <input type="text" name="checkin_date_1" value="04:33:25" class="vTimeField" size="8" required="" id="id_checkin_date_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink1"><span class="clock-icon" title="Choose a Time"></span></a></span>


<br><span class="timezonewarning">Note: You are 5.5 hours ahead of server time.</span></p><input type="hidden" name="initial-checkin_date_0" value="2020-08-29" id="initial-id_checkin_date_0"><input type="hidden" name="initial-checkin_date_1" value="04:33:25" id="initial-id_checkin_date_1">
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">

<input type="submit" value="Save" class="default" name="_save">


<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">


</div>



    <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="booking" async="">
    </script>




<script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>


</div>
</form>