{% extends "admin/index.html" %}
{% load static %}

{% block content_title %}
<h1>Purchase Report</h1>
{% endblock %}
{% block content %}
 <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .daterangepicker .ranges li {
     list-style: none;
    }
</style>

<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#from_date').val(start.format('YYYY-MM-DD'));
        $('#to_date').val(start.format('YYYY-MM-DD'));
        
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        showCustomRangeLabel: false,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>

       <form enctype="multipart/form-data" method="post" id="activity_form" novalidate="">
        {% csrf_token %}
<div>


<div id="reportrange" class="datetimeshortcuts" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 70%">
    <img src="{% static 'bundles/images/cal_icon.png' %}" width="50" height="auto" />&nbsp;
    <span></span>  <img src="{% static 'bundles/images/down-arrow-icon-png-24.jpg' %}" width="50" height="auto" />
    
</div>
<input type="hidden" name="from_date" id="from_date" required="" />
<input type="hidden" name="to_date" id="to_date" required="" />

<i class="fa fa-calendar"></i>

<div class="submit-row">

<input type="submit" value="Get Report" class="default" name="_save">


</div>



  
</div>
</form>
{% endblock %}