<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maldorkar Resort</title>

	<link href="{% static 'bundles/css/style-starter.css' %}" rel="stylesheet" type="text/css"><!-- Style-CSS -->
<link href="{% static 'bundles/css/style-freedom.css' %}" rel="stylesheet" type="text/css">
	<style>
	</style>
</head>

<body>
	<!-- page -->
   <div id="page" class="page">

	<!-- header -->
    <div class="w3l-headers-9">
        <header>
            <div class="wrapper-full">
                <div class="header">
                    <div class="right-img-9">
                        <!-- overlay-menuv-menu -->
                        <div class="overlay-menuv-hny">
                            <input type="checkbox" id="op">
                            <div class="side-menu-hny">
                                <label for="op" class="menuopen">
                                    <img src="{% static 'bundles/images/logo.png' %}" alt="menu" style="outline: none; cursor: inherit;"/>
                                </label>
                            </div>
                            <div class="overlay-menuv overlay-menuv-hugeinc">
                                <label for="op" class="menuclose"></label>
                                <nav class="menu-side-over-left">
                                    <h6 class="search-text editContent" style="outline: none; cursor: inherit;">Where do you want to go...</h6>
                                    <form action="#" method="post" class="d-flex search-head-form editContent" style="outline: none; cursor: inherit;">
                                        <input type="search" name="search" placeholder="Search Here.." class="editContent" style="outline: none; cursor: inherit;">
                                        <button type="submit" class="buttonbg btn" style="outline: none; cursor: inherit;">Search</button>
                                    </form>
                                </nav>
                            </div>
                        </div>
                        <!-- //overlay-menuv-menu -->
                    </div>
                    <div>
                        <h1>
                            <a href="../index" class="logo editContent" style="color: rgb(44, 48, 56); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif;">Maldorkar Resort</a>
                            <!-- if logo is image enable this   
                            <a class="logo" href="index.html">
                                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                            </a> -->
                        </h1>
                    </div>
                    <div class="bottom-menu-content">
                        <input type="checkbox" id="nav">
                        <label for="nav" class="menu-bar"></label>
                        <nav>
                            <ul class="menu">
                                {% if user.is_active and user.is_staff %}
                              <li class="propClone"><a href="{% url 'index' %}" class="link-nav" style="outline: none; cursor: inherit;">Home</a></li>
                          
                              
                                        <li class="propClone"><a href="{% url 'packages' %}" style="outline: none; cursor: inherit;">Packages</a></li>
                                        
                                   <li class="propClone"><a href="{% url 'all_bookings' %}" class="link-nav" style="outline: none; cursor: inherit;">Customer Bookings</a></li>
                                  
                                   <li class="nav-right-sty propClone">
                                    <a href="{% url  'my_profile' %}" class="actionbg btn" style="outline: none; cursor: inherit;">My Profile</a>
                               
                                    <a href="{% url  'logout' %}" class="actionbg btn" style="outline: none; cursor: inherit;">Logout</a>
                            {% else %}	
                            <li class="propClone"><a href="{% url 'index' %}" class="link-nav" style="outline: none; cursor: inherit;">Home</a></li>
                                <li class="propClone"><a href="{% url 'about' %}" class="link-nav" style="outline: none; cursor: inherit;">About</a></li>
                              
                                        <li class="propClone"><a href="{% url 'packages' %}" style="outline: none; cursor: inherit;">Packages</a></li>
                                        
                                   <li class="propClone"><a href="{% url 'contact' %}" class="link-nav" style="outline: none; cursor: inherit;">Contact</a></li>
                                   <li class="nav-right-sty propClone">
                                    <a href="{% url  'my_profile' %}" class="actionbg btn" style="outline: none; cursor: inherit;">My Profile</a>
                               
                                    <a href="{% url  'logout' %}" class="actionbg btn" style="outline: none; cursor: inherit;">Logout</a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- //header -->
    </div><!-- covers -->
<section class="w3l-inner-banner-main">
            <div class="about-inner bg bg1" style="outline: none; cursor: inherit;">
                <div class="wrapper">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html" class="editContent" style="outline: none; cursor: inherit;">Home <span class="fa fa-angle-right" aria-hidden="true" style="outline: none; cursor: inherit;"></span></a></li>
                        <li class="active editContent" style="outline: none; cursor: inherit;">Pending Bookings</li>
                    </ul>
                </div>
            </div>
        </section>
	<!-- //covers -->
	<section class="w3l-content-23">
	
         <div id="content23-block" class="editContent" style="outline: none; cursor: inherit;">
            <div class="wrapper-full">
                <div class="content23-head text-center">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">Bookings</h3>
                    <ul style="list-style: none; display: inline-flex; margin-bottom:20px;">
                    	<li style="
    display: block;
    padding: 10px;
    background-color: gold;
"><a href="{% url 'all_bookings' %}"  style="outline: none; cursor: inherit;">Pending Bookings</a></li>
                    	 <li style="
    display: block;
    padding: 10px;
    background-color: #f9f8f7;
    border: solid 1px black;
"><a href="{% url 'confirmed_bookings' %}"  style="outline: none; cursor: inherit;">Confirmed Bookings</a></li>
                                   <li style="
    display: block;
    padding: 10px;
    background-color: #f9f8f7;
    border: solid 1px black;
"><a href="{% url 'canceled_bookings' %}"  style="outline: none; cursor: inherit;">Canceled Bookings</a></li>
                    </ul>
                    <div class="col-12">
                    	<table id="tables">
				          <tr>

				          	<th>Customer Name</th>
				          	<th>Mobile</th>
				          	<th>Email</th>
				          	<th style="width:150px;">Package</th>
				
				          	<th>Booking Date</th>
                            <th>Number of People</th>
                            <th>Booking Amount</th>
                            <th>Action</th>
				          </tr>
                          {% for booking in bookings %}
 						  <tr>
 						  	<td>{{ booking.customer.user.first_name }}</td>
 						  	<td>{{ booking.customer.mobile }}</td>
 						  	<td>{{ booking.customer.user.email }}</td>
				          	<td>{{ booking.package.package_name }}</td>
				         			          
				          	<td>{{ booking.booking_date }}</td>				          
				          	<td>{{ booking.number_of_people }}</td>				         
				          	<td>{{ booking.booking_amount }}</td>
				          	<td><a href="/resortapp/accounts/confirm_bookings/{{ booking.id }}" class="actionbg btn" style=" border: none;
    font-weight: 600;
    display: inline-block;
    font-size: 17px;
    color: #F5F9FC;
    text-align: center;
    padding: 8px 13px 10px;background: #1c751a;">Confirm Booking</a> | <a href="/resortapp/accounts/cancel_booking/{{ booking.id }}" class="actionbg btn" style="border: none;
    font-weight: 600;
    display: inline-block;
    font-size: 17px;
    color: #F5F9FC;
    text-align: center;
    padding: 8px 13px 10px;    background: #dd4b39;">Cancel</a></td>
				          </tr>

				          {% endfor %}

				       </table>
                     </div>
                </div>
            </div>
        </div>
     
    </section>
	<!-- //contact -->
	<section class="w3l-footer-16">
		<!-- w3l-footer-16 -->
		<div class="w3l-footer-16-main">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-12">
						<h2><a href="index.html" class="logo-2 editContent" style="outline: none; cursor: inherit;">Maldorkar Resort</a></h2>
						<p>All rights reserved.<br>©2020. Design By <a href="#" target="_blank">Laxmi & Pallavi,JSS SMI UG & PG Studies, Dharwad.</a>
						</p>
					</div>					
				</div>
			</div>
		</div>
		<!-- move top -->
		<button onclick="topFunction()" id="movetop" title="Go to top">
			<span class="fa fa-angle-up" style="outline: none; cursor: inherit;"></span>
		</button>
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("movetop").style.display = "block";
				} else {
					document.getElementById("movetop").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
		<!-- //move top -->
	</section>
	<!-- //w3l-footer-16 -->
  </div><!-- /#page -->


</body></html>