{% extends 'resortapp/base.html' %}
{% load static %}
{% block content %}   
	<!-- page -->
	<div id="page" class="page">

	    {% include 'resortapp/header.html' %}
        
	
	<!-- //covers -->
	<section class="w3l-form-34-main">
		<div class="form34-sub">
			<div class="form34">
				<h4 class="form-head">Sign Up</h4>
				<p class="form-para">Create your account. Its free</p>
				
				<script>	
		$(document).ready(function() {
			$("#formID").validationEngine()
		});
	</script>
	{% if user_form.errors %}
    {% for field in user_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" style="
    color: rebeccapurple;
    font-size: medium;
">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_form.non_field_errors %}
        <div class="alert alert-danger" style="
    color: rebeccapurple;
    font-size: medium;
">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}	
{% if customer_form.errors %}
    {% for field in customer_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" style="
    color: rebeccapurple;
    font-size: medium;
">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in customer_form.non_field_errors %}
        <div class="alert alert-danger" style="
    color: rebeccapurple;
    font-size: medium;
">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}	
				<form action="http://localhost:8000/resortapp/custsignup/" method="POST" id="formID">
				{% csrf_token %}
				
					<div class="">
						<p class="text-head">First name</p>
						<input type="text" name="first_name" maxlength="30" class="form-control validate[required,custom[onlyLetter]]" id="id_first_name">
					</div>
				
					<div class="">
						<p class="text-head">Last name</p>
						<input type="text" name="last_name" maxlength="150" class="form-control validate[required,custom[onlyLetter]]" id="id_last_name">
					</div>
				
					<div class="">
						<p class="text-head">Email address</p>
						<input type="email" name="email" maxlength="254" class="form-control  validate[required,custom[email]]" id="id_email">
					</div>
				
					<div class="">
						<p class="text-head">Username</p>
						<input type="text" name="username" maxlength="150" class="form-control  validate[required]"  id="id_username">
					</div>
				
					<div class="">
						<p class="text-head">Password</p>
						<input type="password" name="password" class="form-control validate[required]"  id="id_password">
					</div>
				
				
					<div class="">
						<p class="text-head">Contact Number:</p>
						<input type="tel" name="mobile" maxlength="128" class="form-control validate[required,custom[mobile]]"  id="id_mobile">
					</div>
				
					<div class="">
						<p class="text-head">Address:</p>
						<input type="text" name="address" maxlength="200" class="form-control validate[required]"  id="id_address">
					</div>
				
					<div class="">
						<p class="text-head">City Name:</p>
						<input type="text" name="city" maxlength="200" class="form-control validate[required,custom[onlyLetter]]"  id="id_city">
					</div>
				
					<div class="">
						<p class="text-head">Pincode</p>
						<input type="text" name="pincode" maxlength="10" class="form-control validate[required,custom[onlyNumber]]"  id="id_pincode">
					</div>
				
					
					
					<button type="submit" class="buttonbg signinbutton">Sign Up</button>
					<p class="signup">Already have an account?<a href="../../resortapp/custsignin" class="signuplink">Sign In</a>
					</p>
				</form>
			</div>
		</div>
	</section>
	<!-- //contact -->
{% include 'resortapp/footer.html' %}    
{% endblock %}