    <!-- //w3l-customers-7 -->
<section class="w3l-footer-16">
        <!-- w3l-footer-16 -->
        <div class="w3l-footer-16-main">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h2><a href="index.html" class="logo-2 editContent" style="outline: none; cursor: inherit;">Maldorkar Resort</a></h2>
                        <p>All rights reserved.<br>©2020. Design By <a href="#" target="_blank">Laxmi & Pallavi,JSS SMI UG & PG Studies, Dharwad.</a>
                        </p>
                    </div>                  
                </div>
            </div>
        </div>
        <script>  
         
        function capitalizeFLetter(input) { 
          
         
          var string = input.value; 
          input.value = string[0].toUpperCase() +  
            string.slice(1); 
        } 
        </script>  
</section>