{% extends 'resortapp/base.html' %}
{% load static %}
{% block content %}   
	<!-- page -->
	<div id="page" class="page">

	    {% include 'resortapp/header.html' %}
       
<section class="w3l-inner-banner-main">
            <div class="about-inner bg bg1" style="outline: none; cursor: inherit;">
                <div class="wrapper">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html" class="editContent" style="outline: none; cursor: inherit;">Home <span class="fa fa-angle-right" aria-hidden="true" style="outline: none; cursor: inherit;"></span></a></li>
                        <li class="active editContent" style="outline: none; cursor: inherit;">My Bookings</li>
                    </ul>
                </div>
            </div>
        </section>
	<!-- //covers -->
	<section class="w3l-content-23">
	
         <div id="content23-block" class="editContent" style="outline: none; cursor: inherit;">
            <div class="wrapper">
                <div class="content23-head text-center">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">My Profile</h3>
                    <div class="col-12">
                    	
				       <table id="tables">
				          <tr>

				          	
				          	<th>Package Name</th>
				          	<th>Package Description</th>
				          	<th>Booking Date</th>
                            <th>Number of People</th>
                            <th>Booking Amount</th>
                            <th>Booking Status</th>
				          </tr>
                          {% for booking in bookings %}
 						  <tr>
 						  	
				          	<td>{{ booking.package.package_name }}</td>
				          	<td>{{ booking.package.description }}</td>				          
				          	<td>{{ booking.booking_date }}</td>				          
				          	<td>{{ booking.number_of_people }}</td>				 
<td>{{ booking.booking_amount }}</td>	
				          	<td>{{ booking.booking_status }}</td>	        
				          	
				          </tr>

				          {% endfor %}

				       </table>
				    </div>
                </div>
            </div>
        </div>
     
    </section>
	{% include 'resortapp/footer.html' %}    
{% endblock %}