{% extends 'resortapp/base.html' %}
{% load static %}
{% block content %}   
    <!-- page -->
    <div id="page" class="page">

        {% include 'resortapp/header.html' %}
 
<!-- <h1>Built-In Login Logout</h1> -->
 <section class="w3l-inner-banner-main">
            <div class="about-inner bg bg1" style="outline: none; cursor: inherit;">
                <div class="wrapper">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html" class="editContent" style="outline: none; cursor: inherit;">Home <span class="fa fa-angle-right" aria-hidden="true" style="outline: none; cursor: inherit;"></span></a></li>
                        <li class="active editContent" style="outline: none; cursor: inherit;">About</li>
                    </ul>
                </div>
            </div>
        </section>
		    <!-- //inner banner --><!-- w3l-content-23 block -->
    <section class="w3l-form-34-main">
		<div class="form34-sub">
			<div class="form34">
<h2>Reset Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="buttonbg signinbutton">Begin Resetting</button>
                    
                    </p>
                </form>
            </div>
        </div>
    </section>
{% include 'resortapp/footer.html' %}    
{% endblock %}