{% load static %}
<section class="w3l-covers-9-main">
            <div class="covers-9">
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slides" checked="checked" id="slides_1">
                    <input type="radio" name="slides" id="slides_2">
                    <input type="radio" name="slides" id="slides_3">
                    <input type="radio" name="slides" id="slides_4">
                    <ul class="banner_slide_bg">
                        <li class="bg bg1" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url(&quot;{% static 'bundles/dandeli-resorts-1.jpg' %} &quot;);">
                            <div class="wrapper">
                                <div class="cover-top-center-9">
                                    <div class="w3ls_cover_txt-9">
                                        <h6 class="tag-cover-9 editContent" style="outline: none; cursor: inherit;">Journey</h6>
                                        <h3 class="title-cover-9 editContent" style="outline: none; cursor: inherit;">Adventure Activities</h3>
                                        <p class="para-cover-9 editContent" style="outline: none; cursor: inherit;">Dandeli has a culture of attraction for thousands of tourist from all over the world</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </li><li class="bg bg1" style="background-color: rgb(255, 255, 255); margin-top: 0px; background-image: url(&quot;{% static 'bundles/th.jfif' %} &quot;); outline: none; cursor: inherit;">
                            <div class="wrapper">
                                <div class="cover-top-center-9">
                                    <div class="w3ls_cover_txt-9">
                                        <h6 class="tag-cover-9 editContent" style="outline: none; cursor: inherit;">Journey</h6>
                                        <h3 class="title-cover-9 editContent" style="color: rgb(255, 255, 0); background-color: rgba(0, 0, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif; font-size: 40px; outline: none; outline-offset: -2px; cursor: inherit;">More than just a place to stay</h3>
                                        <p class="para-cover-9 editContent" style="outline: none; cursor: inherit;">Dandeli has a culture of attraction for thousands of tourist from all over the world</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="bg bg1" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url(&quot;{% static 'bundles/dandeli-nightout-camping-1.jpg' %} &quot;); outline: none; cursor: inherit; outline-offset: -2px;">
                            <div class="wrapper">
                                <div class="cover-top-center-9">
                                    <div class="w3ls_cover_txt-9">
                                        <h6 class="tag-cover-9 editContent" style="outline: none; cursor: inherit;">Great Experience</h6>
                                        <h3 class="title-cover-9 editContent" style="outline: none; cursor: inherit;">For Traveling Anywhere</h3>
                                        <p class="para-cover-9 editContent" style="outline: none; cursor: inherit;">Excepteur sint occaecat cupidatat non
                                            proident, sunt in
                                            culpa qui officia deserunt mollit anim id est laborum mollit anim id est.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="bg bg1" style="outline: none; outline-offset: -2px; cursor: inherit; background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url(&quot;{% static 'bundles/Cover18.jpg' %} &quot;);">
                            <div class="wrapper">
                                <div class="cover-top-center-9">
                                    <div class="w3ls_cover_txt-9">
                                        <h6 class="tag-cover-9 editContent" style="outline: none; cursor: inherit;">Enjoy</h6>
                                        <h3 class="title-cover-9 editContent" style="outline: none; cursor: inherit;">Wildlife</h3>
                                        <p class="para-cover-9 editContent" style="outline: none; cursor: inherit;">Sed ut perspiciatis unde omnis iste natus
                                            error sit
                                            voluptatem accusantium doloremque laudantium sunt in culpa qui laborum.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="bg bg1" style="outline: none; cursor: inherit;">
                            <div class="wrapper">
                                <div class="cover-top-center-9">
                                    <div class="w3ls_cover_txt-9">
                                        <h6 class="tag-cover-9 editContent" style="outline: none; cursor: inherit;">What Next Country?</h6>
                                        <h3 class="title-cover-9 editContent" style="outline: none; cursor: inherit;">Discover Night Francisco</h3>
                                        <p class="para-cover-9 editContent" style="outline: none; cursor: inherit;">Totam rem aperiam, eaque ipsa quae ab illo
                                            inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="arrows">
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                        <label for="slides_4"></label>
                    </div>
                    <div class="navigation">
                        <div>
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                            <label for="slides_4"></label>
                        </div>
                    </div>
                </div>
            </div>
        </section>